@charset "utf-8";

html,body{
  margin: 0;
  padding: 0;
  border: 0;
  font-style:normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul{
    list-style:none;
}

body {
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #666666;
  font-size: 93%;
}

/* 見出し */
h1 {
position: relative;
color: #158b2b;
font-size: 35px;
padding: 10px 0;
text-align: center;
margin: 1.5em 0;
}
h1:before {
content: "";
position: absolute;
top: -5px;
left: 50%;
width: 150px;
height: 70px;
border-radius: 50%;
border: 5px solid #a6ddb0;
border-left-color: transparent;
border-right-color: transparent;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}

h2 {
padding: 0 0 0 0.5em;/*文字周りの余白*/
color: #666666;/*文字色*/
background: #fffaf4;/*背景色*/
border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
font-size: 35px;
}

h3 {
display :inline-block;
background: linear-gradient(transparent 85%, #a6ddb0 85%);
font-size: 20px;
}

/* ヘッダー */
div#header {
 z-index: 5;
 position: fixed; /* 画面をスクロールしてもヘッダーを常に上部固定 */
 width: 100%; /* 横幅を画面一杯に設定 */
 height: 70px; /* ヘッダーの高さを設定 */
 background: black; /* 背景色の設定 */

}

div#headerArea {
 margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
 width: 980px; /* ヘッダーコンテンツ部分の横幅を設定 */
}

/* ヘッダーロゴ */
div#header_logo {
 float: left; /* ロゴ表示部分を左寄せで設定 */
 padding: 12px 0 0 0; /* ロゴ表示部分の上に余白12ピクセルを設定 */
 font-weight: bold; /* ロゴのテキストを太字に設定 */
 color: #888888; /* ロゴの色を設定 */
}

/* グローバルナビゲーション */
div#gnavi {
 float: left; /* グローバルナビゲーション部分を右寄せで設定 */
 margin: 12px 0 0 0; /* 上部に12ピクセルの余白を設定 */
 text-align: right; /* コンテンツの中身を右寄せで設定 */
}

div#gnavi ul{
 clear: both; /* 回り込みを解除する際に使用しdiv要素が重ならないように設定 */
}

div#gnavi li {
 padding: 0 0 0 20px; /* 左に20ピクセルの余白を設定 */
 float: left; /* リストを左寄せで横並びになるよう設定 */
}

/* リンク */
a:link {
 color: #006DD9; /* リンクテキストを青色に設定 */
 text-decoration: none; /* テキストに下線が表示されないように設定 */
}

a:hover {  /* hoverはマウスを乗せたときの設定 */
 color: #cd4730; /* リンクテキストを赤色に設定 */
 text-decoration: underline; /* テキストに下線が表示されるように設定 */
}

div#container{
margin: 0 auto;
background-color: #ddd;
width:960px;
}

div#main{
padding: 80px 0 0 0;
float:left;
background-color: white;
width:700px;
height:3500px;
}

div#sidebar{
float:right;
background-color: yellow;
width:260px;
height:300px;
}

div#under{
clear:both;
width:960px;
background-color: green;
height:250px;
}

div#footer{
padding: 5px 0 0 5px;
width: 100%;
height: 70px;
background: black;
}
