@charset "utf-8";

html,body{
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%
  font-style:normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul{
    list-style:none;
}

body {
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #666666;
  font-size: 93%;
}

/* 見出し */
h1 {
position: relative;
color: #158b2b;
font-size: 35px;
padding: 10px 0;
text-align: center;
margin: 1.5em 0;
}
h1:before {
content: "";
position: absolute;
top: -5px;
left: 50%;
width: 150px;
height: 70px;
border-radius: 50%;
border: 5px solid #a6ddb0;
border-left-color: transparent;
border-right-color: transparent;
-moz-transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}

h2 {
padding: 0 0 0 0.5em;/*文字周りの余白*/
color: #666666;/*文字色*/
background: #fffaf4;/*背景色*/
border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
font-size: 35px;
}

h3 {
display :inline-block;
background: linear-gradient(transparent 85%, #a6ddb0 85%);
font-size: 20px;
}

span {
display: inline-block;
width: 14em;
}

/* ヘッダー */
div#header {
 z-index: 5;
 position: fixed; /* 画面をスクロールしてもヘッダーを常に上部固定 */
 width: 100%; /* 横幅を画面一杯に設定 */
 height: 70px; /* ヘッダーの高さを設定 */
 background: black; /* 背景色の設定 */

}

div#headerArea {
 margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
 width: 980px; /* ヘッダーコンテンツ部分の横幅を設定 */
}

/* ヘッダーロゴ */
div#header_logo {
 float: left; /* ロゴ表示部分を左寄せで設定 */
 padding: 12px 0 0 12px; /* ロゴ表示部分の上に余白12ピクセルを設定 */
 font-weight: bold; /* ロゴのテキストを太字に設定 */
 color: #888888; /* ロゴの色を設定 */
}

/* グローバルナビゲーション */
div#gnavi {
 float: left; /* グローバルナビゲーション部分を右寄せで設定 */
 margin: 12px 0 0 0; /* 上部に12ピクセルの余白を設定 */
 text-align: right; /* コンテンツの中身を右寄せで設定 */
}

div#gnavi ul{
 clear: both; /* 回り込みを解除する際に使用しdiv要素が重ならないように設定 */
}

div#gnavi li {
 padding: 0 0 0 20px; /* 左に20ピクセルの余白を設定 */
 float: left; /* リストを左寄せで横並びになるよう設定 */
}

/* リンク */
a:link {
 color: #006DD9; /* リンクテキストを青色に設定 */
 text-decoration: none; /* テキストに下線が表示されないように設定 */
}

a:hover {  /* hoverはマウスを乗せたときの設定 */
 color: #cd4730; /* リンクテキストを赤色に設定 */
 text-decoration: underline; /* テキストに下線が表示されるように設定 */
}

div#container{
margin: 0 auto;
background-color: #ddd;
width:100%;
padding-bottom: 70px;
}

div#main{
padding: 80px 0 0 0;
background-color: white;
width: 0 auto;
}

div#sidebar{
float:right;
background-color: yellow;
width:260px;
height:300px;
}

div#under{
clear:both;
width:960px;
background-color: green;
height:250px;
}

div#footer{
width: 100%;
height: 70px;
background: black;
}

div#footerArea {
 margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
 padding: 12px 0 0 12px; /* ロゴ表示部分の上に余白12ピクセルを設定 */
 width: 980px; /* ヘッダーコンテンツ部分の横幅を設定 */
}


/*全サムネイルのコンテナー*/
#thumbs {
	 position: relative;
	 max-width: 630px;
	 margin:5px auto;
	 z-index:85;
}
/*サムネイルのマウスオーバーでポインターを手のひら*/
#thumbs label img {
	 cursor: pointer;
}
/*ラジオボタンを非表示に*/
#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8 {
	 display: none;
}
/* 写真表示領域 */
#stage {
	position:fixed;
        left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:-1000;
}
/*表示写真の初期配置（全部透明に）*/
#photo1, #photo2, #photo3, #photo4, #photo5, #photo6{
　	position:absolute;
	max-width:1200px;
	width:62%;
	left:19%;
	top:100px;
	padding:5px 5px 10px 5px;
	background:#fff;
	margin-left:0;
	opacity:0;
	-webkit-transition: all 1s ease;
　　　　-moz-transition: all 1s ease;
    　　-o-transition: all 1s ease;
　　    transition: all 1s ease;
}
#photo1 img, #photo2 img, #photo3 img, #photo4 img, #photo5 img, #photo6 img{
	max-width:1200px;
	width: 100%;
	height: auto;
}
/* 写真の表題・閉じるボタン */
.span_l { float:left; margin:5px 0 0 5px; }
.span_r { float:right; font-weight:bold;  margin:5px 10px 0 0; cursor:pointer;}
/*写真表示時の画面遮蔽スクリーン*/
#darkscreen {
　	position:fixed;
	position:absolute;
　　　　width:100%;
	height:100%;
	top:0;
	left:0;
　　	background:#000;
	opacity:0;
	z-index:-5;
}
/*ボタン領域の設定*/
.cover_left, .cover_right {
	position:absolute;
	top:0;
	width:40%;
	height:93%;
	cursor:pointer;
	z-index:1000;
}
.cover_left {
	left:0;
}
.cover_right {
	left:60%;
}
/* ボタン領域の最上面を非表示に */
#photo6 label .cover_left,#photo6 label .cover_right {
	display:none;
}
/*ボタン領域内のボタン文字（＜、＞）の設定*/
.cover_left span, .cover_right span {
	position: absolute;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 40px;
	font-weight: bold;
	opacity:0;
	top: 45%;
}
.cover_left span {
	left: 5%;
}
.cover_right span {
　	left: 85%
}
/*ボタン領域hover時文字の設定*/
.cover_right:hover > span, .cover_left:hover > span {
　	opacity:1;
　	color:#EEE;
}
/* サムネイル、送りボタンチェックで#stageを表示 */
#r1:checked ~ #stage,#r2:checked ~ #stage,#r3:checked ~ #stage,#r4:checked ~ #stage,#r5:checked ~ #stage {
	z-index:100;
	opacity:1;
}
/* サムネイル、送りボタンチェックで#darkscreenを表示 */
#r1:checked ~ label #darkscreen, #r2:checked ~ label #darkscreen, #r3:checked ~ label #darkscreen, #r4:checked ~ label #darkscreen, #r5:checked ~ label #darkscreen, #r6:checked ~ label #darkscreen {
　　　 opacity:0.6;
　　　 z-index:90;
}
/* 各サムネイルがチェックされた時の#photo の表示 */
#r1:checked ~ #stage #photo1,#r2:checked ~ #stage #photo2,#r3:checked ~ #stage #photo3,#r4:checked ~ #stage #photo4,#r5:checked ~ #stage #photo5, #r6:checked ~ #stage #photo6 {
　　　opacity:1;
　　　display:block;
　　　z-index:101;
}
/* 各サムネイルがチェックされた時の#photo6のボタン領域を表示 */
#r1:checked ~ #stage #photo6 label .cover_left,#r1:checked ~ #stage #photo6 label .cover_right,#r2:checked ~ #stage #photo6 label .cover_left,#r2:checked ~ #stage #photo6 label .cover_right,#r3:checked ~ #stage #photo6 label .cover_left,#r3:checked ~ #stage #photo6 label .cover_right,#r4:checked ~ #stage #photo6 label .cover_left,#r4:checked ~ #stage #photo6 label .cover_right,#r5:checked ~ #stage #photo6 label .cover_left,#r5:checked ~ #stage #photo6 label .cover_right, #r6:checked ~ #stage #photo6 label .cover_left,#r6:checked ~ #stage #photo6 label .cover_right {
	display:block;
}
